
@using IT6CFirstWebAppCS.Models

@model IT6CFirstWebAppCS.Models.EmployeeWithDesignation

<h2>Employee List</h2>
<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Designation</th>
        <th>Actions</th>
    </tr>

    @foreach (object obj in Model.employees)
    {
        // Manual cast required because ArrayList is non-generic
        var item = (IT6CFirstWebAppCS.Models.Employee)obj;
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.EmployeeName</td>
            <td>@item.Age</td>
            <td>@item.DesignationName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID },
                         new { onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }
</table>