@model Designation[]

@{
    ViewData["Title"] = "ListAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Designation ID
            </th>
            <th>
                Designation Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DesignationID }) |
                @Html.ActionLink("Details", "Details", new { id=item.DesignationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DesignationID })
            </td>
        </tr>
}
    </tbody>
</table>
